body {
    background-color: aquamarine;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.header-left {
    display: flex;
    width:max-content;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    min-width: 550px;
}

.header-right {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    background-color: whitesmoke;
    min-width: 550px;
}

.top-info {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    
    
}

.top-price {
    font-size: large;
    text-align: center;
    margin-top: -10px;
}


.green {
    background: radial-gradient(#67f344, #19db08);
}

.yellow {
    background: radial-gradient(#f8fdadef, #f8fc00dc);
}

.red {
    background: radial-gradient(#f36744, #db0808);
}