body {
    height: 100vh;
    background: radial-gradient(#89ebbe8c, #44f3eb);
}

html {
    scroll-behavior: smooth;
    
  }

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.header-left {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    min-width: 400px;
}

.header-right {
    display: flex;
    width: 45%;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    background-color: rgba(245, 245, 245, 0.5);
    min-width: 400px;
}

.top-price {
    font-size: large;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 5px;
}



.top-info {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    flex: 1;
    
    
    
}





.green {
    background: radial-gradient(#67f344, #19db08);
}

.yellow {
    background: radial-gradient(#f8fdadef, #f8fc00dc);
}

.red {
    background: radial-gradient(#f36744, #db0808);
}



.config-container {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}



.form-container {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #44f3eb;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

input {
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    width: 50px;
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
    
    margin: 10px;
}

.submit-button {
    background-color: #1ef142;
    border-radius: 25px;
    width: auto;
    font-family: sans-serif;
}

button {
    background-color: rgb(44, 209, 209);
    border-radius: 25px;
    border-color: rgb(1, 110, 110);
    font-family: sans-serif;
    font-size: large;
    width: 200px;
    height: 50px;
}

.desc-right {
    text-align: center;
    margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
    .header-left {
        min-width: 0px;
        width: 50%;
        margin: 0px;
        margin-left: -20px;
    }
    .header-right {
        min-width: 0px;
        margin-right: -20px;
        margin-left: -20px;
        width: 50%;
    }
    .top-info {
        width: 25%;
    }
    .h1-left {
        margin: 5px;
        text-align: center;
    }
    
    .desc-right {
        margin: 5px;
        font-size: 20px;
    }    
    
    .top-price {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .header-left {
        min-width: 0px;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    .header-right {
        min-width: 0px;
        margin-right: -20px;
        margin-left: -20px;
        width: 100%;
    }
    .top-info {
        width: 25%;
    }
    .h1-left {
        margin: 5px;
    }
        
    .desc-right {
        margin: 5px;
    }

    .top-price {
        margin-top: 5px;
        margin-bottom: 5px;
    }    
    
}